.reaction-arrow {
    margin:   10px;
    font-size: 50px;
    margin-bottom: -1%;
    margin-top: -3%;
    
}

* {
    margin:0%;
    padding: 0%;
}

body{
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  
}


header {
    background-color: #cb8e5f; /* Cor de fundo do cabeçalho */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 20px; /* Espaçamento interno do cabeçalho */
    text-align: left; /* Centralizar o texto */

}

section {
    color: #2F1000;
}

.wrapper {
    /*min-height: 75vh; */ 
    box-sizing:border-box;
    padding-bottom: 3rem;
    position: relative;
}

footer {
    background-color: #cb8e5f;
    font-weight: bold;
    color: #ecf8d4;
    text-align: center;
    padding: 0px;
    width: 100%;
}


mtd {
  padding: 5px;
  text-align: left;
}
.reactions {   
    font-weight: bold;
    font-size: 1.3em; 
    text-align: left;
}

.subtitle {
    font-weight: bold;
    font-size: 1.7em;
    padding-bottom: 20px ;
}

.text {
    font-size: 1.2em;
}

input[type="file"] {
    display: none;
  }

  /* Estilizando o rótulo personalizado */
  .button {
    background-color: #cb8e5f;
    font-weight: bold;
    color: #ecf8d4;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    /*transition: color 0.3s;*/ 
    transition: all 0.3s;
  }

  /* Estilizando o rótulo quando o mouse passa por cima */
  .button:hover {
    background-color: #85685a;
    color: black;
  }

  .alert {
    background-color: #ecf8d4 ;
  }

  .btn-outline-secondary{
    border-color: #cb8e5f;
    color: #cb8e5f;  
  }

  .form-control[readonly]{
    background-color: #ecf8d4 ;
  }


#section-copy {
    display: none;
}

#section-reactions{
  display: none;
}

.language {
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s; 
}

.language:hover {
  color: #85685a; 
}

.bi-info-circle-fill{
  color: #cb8e5f;
  margin-top: 10px;
  margin-left: 5px;
  font-size: x-large;

}

.tooltip-container {
    position: relative;
}

.tooltip-trigger {
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    display: none;
    position: absolute;
    background-color: #cb8e5f;
    color: #fff;
    padding-top: 45px;
    padding: 10px;
    z-index: 1;
    bottom: -70px;
    left: 15px;
    border-radius: 5px;
}

.tooltip-container:hover .tooltip-content {
    display: inline-block;
}

.row {
  margin-left: 0;
}

ul {
  padding-left: 20px;
}

.error-msg {
  font-size: 12px;
  color: red;
  font-weight: bold;
}